/*内容部分*/
.a-content-nav {
    margin-top: 40px;
    display: inline-block;
}
.a-content-nav ul {
    padding-left: 79px;
    padding-top: 10px;
    height: 340px;
    list-style: none;
    background:url(../img/at2.png) no-repeat;
}
.a-content-nav p {
    background:url(../img/at1.png) no-repeat;
    padding-top: 18px;
    padding-left: 54px;
    color: #fff;
    width: 250px;
    height: 65px;
}
.a-content-nav li a {
    text-decoration: none;
    line-height: 48px;
    color:#fff;
}
.about-content .a-content-text {
	line-height: 45px;
    margin-top: 80px;
    font-weight: bold;
}